{{#bs-nav type="pills"}}
  {{#bs-nav-item}}{{#link-to "index"}}Home{{/link-to}}{{/bs-nav-item}}
  {{#bs-nav-item}}{{#link-to "scientists"}}Scientists{{/link-to}}{{/bs-nav-item}}
{{/bs-nav}}

<h2>PeopleTracker!</h2>

{{outlet}}
